@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=PT+Sans+Narrow:wght@400;700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Port+Lligat+Sans&family=Quicksand:wght@300..700&family=REM:ital,wght@0,100..900;1,100..900&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yatra+One&display=swap');
:root{
    --darkModeHader:hsl(209, 23%, 22%);
    --darkModeMean:hsl(207, 26%, 17%);
    --DarkGray:hsl(0, 0%, 52%);
    --LightModeHader:hsl(0, 0%, 98%);
    --LightModeMean:hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.5s ease;
    list-style: none;
    font-family: "Nunito Sans";
}
header{
    width: 100%;
    height: fit-content;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--darkModeHader);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}
header nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}
.navbar-star{
    width: fit-content;
    font-size: 25px;
    color: var(--LightModeHader);
}
.navbar-end{
    width: fit-content;
    font-size: 20px;
    color: var(--LightModeHader);
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navbar-end .mode{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.mode-icon{
    cursor: pointer;
}
.mode-icon i:first-child{
    animation: dark 0.5s ease;
}
.mode-icon i:last-child{
    display: none;
}
main{
    width: 100%;
    height: fit-content;
    background-color: var(--darkModeMean);
    padding-left: 7rem;
    padding-right: 6rem;
    padding-top: 10rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
}
.search{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}
.search-input{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}
.search-input label{
    color: var(--LightModeMean);
    font-size: 20px;
}
.search-input input{
    width: 350px;
    height: 45px;
    padding-left: 3rem;
    outline: none;
    box-shadow: 0px 0px 1em #0000002c;
    background-color: var(--darkModeHader);
    border: 1px solid var(--darkModeHader);
    color: var(--LightModeHader);
    position: relative;
    padding-right: 1rem;
}
.input-in{
    position:relative;
}
.search-input i{
    position: absolute;
    left: 5%;
    top: 35%;
    z-index: 2;
    font-size: 13px;
    color: var(--LightModeHader);
}
.search-input input::placeholder{
    color: var(--LightModeMean);
}
.check-con{
    display: flex;
}
.check-con select{
    width: 220px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 1rem; 
    padding-right: 1rem;
    outline: none;
    font-size: 14px;
    background-color: var(--darkModeHader);
    border: 1px solid var(--darkModeHader);
    color: var(--LightModeHader);
    box-shadow: 0px 0px 1em #0000002c;
    cursor: pointer;
}
.countries-in{
    width: 100%;
    height: 100vh;
    height: fit-content;
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}   
.countries-1{
    width: 20%;
    background-color: var(--darkModeHader);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
}
.countries-1 img{
    width: 100%;
    height: 100%;
}
.countries-img{
    width: 100%;
    height: 100%;
}
.countries-lable{
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
}
.countries-lable-1{
    font-size: 17px;
    color:var(--LightModeHader);
    font-weight:700;
    margin-bottom: 0.5em;
}
.countries-lable-2{
    font-size: 13px;
    color:var(--LightModeMean);
    font-weight:700;
    margin-bottom: 0.5em;
}
.mode{
    cursor: pointer;
}

.mode-title-in .mode-title:last-child{
    display: none;
    animation: dark 0.5s ease;
}
.mode-title-in .mode-title:first-child{
    display: block;
    animation: dark 0.5s ease;
}
.DarkBody {
    --darkModeHader:hsl(0, 0%, 100%);
    --darkModeMean: hsl(0, 0%, 98%) ;
    --DarkGray:hsl(0, 0%, 52%);
    --LightModeHader:hsl(209, 23%, 22%);
    --LightModeMean:hsl(207, 26%, 17%);
}
.DarkMode .mode-icon i:last-child{
    display: block;
    transform: scale(1);
    animation: dark 0.5s ease;
}
.DarkMode .mode-icon i:first-child{
    display: none;
}
.DarkMode .mode-title:last-child{
    display: block;
}
.DarkMode .mode-title:first-child{
    display: none;
    animation: dark 0.5s ease;
}
@keyframes dark {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
@media only screen and (max-width:1225px) {
    header{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    main{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media only screen and (max-width:1150px) {
    .countries-1{
        width: 300px;
    }
}
@media only screen and (max-width:680px) {
    main{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .search-input{
        width: 100%;
    }
    .input-in{
        width: 100%;
    }
    .input-in input{
        width: 100%;
    }
    .countries-1{
        width: 100%;
    }
    .navbar-star{
        font-size: 20px;
    }
    .navbar-end{
        font-size: 18px;
    }
}
@media only screen and (max-width:450px) {
    .navbar-star{
        font-size: 18px;
    }
    .navbar-end{
        font-size: 15px;
    }
    .mode{
        gap: 0.3rem !important;
    }
}